<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MySqlConnection" connectionString="Database='yiliangyijia';Data Source='localhost';User Id='root';Password='';charset='utf8';pooling=true"/>
  </connectionStrings>
  <appSettings>
    <!--服务执行间隔时间，单位秒-->
    <add key="interval" value="120"/>
    <!--日志文件记录路径-->
    <add key="logPath" value="Log"/>
    <!--音频文件存放路径-->
    <add key="audioPath" value="Audio/Ring.wav"/>
    <!--提醒铃声播放次数-->
    <add key="playLoopTimes" value="3"/>
    <!--员工类型-->
    <add key="userType" value="1"/>
    <!--员工编号
    <add key="employeeNo" value="004"/>-->
    <!--员工编号或售前ID-->
    <add key="userId" value="5e8b9808-fc8a-4bad-8a05-32ed65222b21"/>
    <!--WebService地址-->
    <add key="webServiceUrl" value="http://localhost:10257/FileMonitoringWebService.asmx"/>
    <!--Task Detail Page-->
    <add key="taskDetailsPageUrl" value="http://bimpan.iok.la:8/Pages/Task/SerialNumberGenerating.aspx?projectID="/>
    <!--钉钉企业应用id，这个值代表以哪个应用的名义发送消息。77369217是公告的应用id-->
    <add key="agentid" value="77369217"/>
    <!--需要抄送的员工的钉钉UserId，每个接收者ID前面都要加上“|”-->
    <add key="externalDingdingUserId" value="|083837256338737962|A002"/>
    <!--接收任务待分配提醒的员工的钉钉UserId，每个接收者之间用“|”隔开（即第一个之前和最后一个之后均不跟“|”）-->
    <add key="taskAllotmentTipDingdingUserId" value="083837256338737962"/>
    <!--提醒程序的路径-->
    <add key="remindProgramExePath" value="Program\TaskTip.exe"/>
    <!--存储普通任务列表的文本文件路径-->
    <add key="taskListCommonTextPath" value="Service\Txt\TaskList.txt"/>
    <!--存储售后任务列表的文本文件路径-->
    <add key="taskListAssTextPath" value="Service\Txt\TaskListAss.txt"/>
    <!--存储任务完成稿提醒需要的任务名称-->
    <add key="taskFinalScriptPath" value="Service\Txt\FinalScript.txt"/>
    <!--存储任务修改稿提醒需要的名称-->
    <add key="taskModifyScriptPath" value="Service\Txt\ModifyScipt.txt"/>
    <!--存储任务倒计时提醒-->
    <add key="taskCountdown" value="Service\Txt\Countdown.txt"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <system.runtime.remoting>
    
  </system.runtime.remoting>
</configuration>
